//colors

$white:#fff;
$black:#000;
$blue:#005993;
$bluish-gray:#E7F1F6;
$dark-gray:#1c1c1c;
$grayish-black:#333333;
$pink:#ee1f79;
$orange:#fe5d05;
$light_green:#9ac42f;
$font_style:'Open Sans', sans-serif;

.right-off-canvas-menu {
  background: transparent;
}

//sign_up
.sign_up{
  background-image: url('521.jpg');
  margin-top:-1%;
  height:102%;

  .sign_up_box{
    border-radius: 10% 0 10% 0;
    background-color:$white;
    padding:5%;
    margin-top:5%;
    margin-bottom:4%;
  }

  .icon{
    display:block;
    width:14em;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    top:3em;
    margin-bottom:4%;
  }

  .create-btn{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:10em;
    background-color:$light_green;
    border:2px solid $light_green;
    color:$white;
    padding:3%;
    margin-bottom:5%;

    &:hover{
      background-color:transparent;
      border:2px solid $light_green;
      color:$light_green;
      width:10em;
    }
  }

  label{
    font-weight:bold;
  }

  em{
    font-size:12px;
    font-weight:bold;
  }

  input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $light_green;
  }

  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(99, 212, 121, 0.7);
    border: 1px solid rgba(99, 212, 121, 0.7);
  }

  input[type=email], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $light_green;
  }

  input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(99, 212, 121, 0.7);
    border: 1px solid rgba(99, 212, 121, 0.7);
  }

  input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $light_green;
  }

  input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(99, 212, 121, 0.7);
    border: 1px solid rgba(99, 212, 121, 0.7);
  }

}

.link_devise{
  a{
    color:$black;
    font-weight:bold;
    text-decoration:underline;

    &:hover{
      color:$blue;
    }
  }
}

//login
.login{
  background-image: url('521.jpg');
  margin-top:-1%;
  height:102%;

  .login_box{
    border-radius: 10% 0 10% 0;
    background-color:$white;
    padding:5%;
    margin-top:5%;
    margin-bottom:5%;
  }

  .icon{
    display:block;
    width:14em;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    top:3em;
    margin-bottom:4%;
  }

  .login-btn{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:12em;
    background-color:$blue;
    border:2px solid $blue;
    color:$white;
    padding:3%;
    margin-bottom:2%;

    &:hover{
      background-color:transparent;
      border:2px solid $blue;
      color:$blue;
      width:12em;
    }
  }

  label{
    font-weight:bold;
  }

  input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $blue;
  }

  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(49, 57, 193, 0.7);
    border: 1px solid rgba(49, 57, 193, 0.7);
  }

  input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $blue;
  }

  input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(49, 57, 193, 0.7);
    border: 1px solid rgba(49, 57, 193, 0.7);
  }
}

//forgot_pass
.forgot_pass{
  background-image: url('521.jpg');
  margin-top:-1%;
  height:102%;

  .forgot_pass_box{
    border-radius: 10% 0 10% 0;
    background-color:$white;
    padding:5%;
    margin-top:5%;
    margin-bottom:4%;
  }

  .icon{
    display:block;
    width:14em;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    top:3em;
    margin-bottom:4%;
  }

  .forgot-btn{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:20em;
    background-color:$orange;
    border:2px solid $orange;
    color:$white;
    padding:3%;
    margin-bottom:5%;
    margin-top:5%;

    &:hover{
      background-color:transparent;
      border:2px solid $orange;
      color:$orange;
      width:20em;
    }
  }

  label{
    font-weight:bold;
  }

  input[type=email], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid $orange;
  }

  input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 135, 71, 0.7);
    border: 1px solid rgba(255, 135, 71, 0.7);
  }


}


//sector_one
.sector_one{
  background-image:url('591.jpg');

  .top-bar{
    background-color: rgba(0, 0, 0, 0.5);
    padding:2% 1% 5% 2%;

    .top-bar-section{

      .icon{
        width:7em;
        margin-top:-8%;
      }

      li{
        a{
          font-weight:light;
          text-transform: uppercase;
          font-weight:400;
          letter-spacing: 0.1em;

          &:hover{
            color:$blue;
          }
        }
      }
    }

        li:first-child{
      &:hover{
        border-bottom:3px solid $blue;
        a{
          color:$blue;
        }
      }
    }

    li:nth-child(2) {
      &:hover{
        border-bottom:3px solid #ee1f79;
        a{
          color:#ee1f79;
        }
      }
    }

    li:nth-child(3) {
      &:hover{
        border-bottom:3px solid #fe5d05;
        a{
          color:#fe5d05;
        }
      }
    }

    li:nth-child(4) {
      &:hover{
        border-bottom:3px solid #feb806;
        a{
          color:#feb806;
        }
      }
    }

    li:nth-child(5) {
      &:hover{
        border-bottom:3px solid #9ac42f;
        a{
          color:#9ac42f;
        }
      }
    }

  }

  .top-bar-section li a{
    background: none repeat scroll 0% 0% transparent;
    line-height: 2.8125rem;
    padding: 0px 0.9375rem;
    font-size: 16px;
    font-family:$font_style;
  }

  .title{

    .icon{
      width:250px;
      margin-right:auto;
      margin-left:auto;
      display:block;
      margin-top:2%;
    }
  }

  .subtitle{
    .subheader{
      color:$black;
      margin-bottom:4%;
      text-align:center;
    }
  }

  .buttons{
    margin-bottom:10%;

    .explore-btn{
      margin-right:4%;
      border:3px solid $blue;
      background-color:transparent;
      color:$blue;
      font-weight:bold;
      display:block;
      margin-right:auto;
      margin-left:auto;
      width:10em;



      &:hover{
        font-weight:bold;
        background-color:$blue;
        color:$white;
      }
    }

  }

  .ar-down{
      width:3em;
      display:block;
      margin-right:auto;
      margin-left:auto;
    }

  .creative-title{
    // border-color:$white;
    // border-style:double;
    margin:18% 0 18% 0;
  }
}

//sector_about_us
.sector_about_us{
    background-image:url('13.jpg');

  .top-bar{
    background-color: rgba(0, 0, 0, 0.5);
    padding:2% 1% 5% 2%;

    .top-bar-section{

      .icon{
        width:7em;
        margin-top:-8%;
      }

      li{
        a{
          font-weight:light;
          text-transform: uppercase;
          font-weight:400;
          letter-spacing: 0.1em;

          &:hover{
            color:$blue;
          }
        }
      }
    }

    li:first-child{
      &:hover{
        border-bottom:3px solid $blue;
        a{
          color:$blue;
        }
      }
    }

    li:nth-child(2) {
      &:hover{
        border-bottom:3px solid #ee1f79;
        a{
          color:#ee1f79;
        }
      }
    }

    li:nth-child(3) {
      &:hover{
        border-bottom:3px solid #fe5d05;
        a{
          color:#fe5d05;
        }
      }
    }

    li:nth-child(4) {
      &:hover{
        border-bottom:3px solid #feb806;
        a{
          color:#feb806;
        }
      }
    }

    li:nth-child(5) {
      &:hover{
        border-bottom:3px solid #9ac42f;
        a{
          color:#9ac42f;
        }
      }
    }

  }

  .top-bar-section li a{
    background: none repeat scroll 0% 0% transparent;
    line-height: 2.8125rem;
    padding: 0px 0.9375rem;
    font-size: 16px;
    font-family:$font_style;
  }

  .about_us_content{
    p{
      color:$black;
      font-size:40px;
      letter-spacing:0.2em;
      margin-top:10%;
    }

    .line{
      width:15em;
      display:block;
      margin-right:3%;
      margin-left:3%;
    }
  }
}


//sector_contact_us
.sector_contact_us{
    background-image:url('55.jpg');
    height:100%;

  .top-bar{
    background-color: rgba(0, 0, 0, 0.5);
    padding:2% 1% 5% 2%;

    .top-bar-section{

      .icon{
        width:7em;
        margin-top:-8%;
      }

      li{
        a{
          font-weight:light;
          text-transform: uppercase;
          font-weight:400;
          letter-spacing: 0.1em;

          &:hover{
            color:$blue;
          }
        }
      }
    }

    li:first-child{
      &:hover{
        border-bottom:3px solid $blue;
        a{
          color:$blue;
        }
      }
    }

    li:nth-child(2) {
      &:hover{
        border-bottom:3px solid #ee1f79;
        a{
          color:#ee1f79;
        }
      }
    }

    li:nth-child(3) {
      &:hover{
        border-bottom:3px solid #fe5d05;
        a{
          color:#fe5d05;
        }
      }
    }

    li:nth-child(4) {
      &:hover{
        border-bottom:3px solid #feb806;
        a{
          color:#feb806;
        }
      }
    }

    li:nth-child(5) {
      &:hover{
        border-bottom:3px solid #9ac42f;
        a{
          color:#9ac42f;
        }
      }
    }

  }

  .top-bar-section li a{
    background: none repeat scroll 0% 0% transparent;
    line-height: 2.8125rem;
    padding: 0px 0.9375rem;
    font-size: 16px;
    font-family:$font_style;
  }

  .contact_content{
    margin-left:20%;
    margin-right:20%;

    p{
      color:$white;
      font-size:40px;
      letter-spacing:0.2em;
      margin-top:10%;
    }

    .line{
      width:15em;
      display:block;
      margin-right:11%;
      margin-left:11%;
    }
  }

  .contact_form{
    margin-top:5%;

    label{
      font-weight:bold;
      color:$blue;
      margin-bottom:2%;
    }

    .send-btn{
      margin-right:4%;
      border:3px solid $blue;
      background-color:transparent;
      color:$blue;
      font-weight:bold;
      display:block;
      margin-right:auto;
      margin-left:auto;
      width:10em;



      &:hover{
        font-weight:bold;
        background-color:$blue;
        color:$white;
      }
    }
  }
}

//sector_two
.sector_two{
  padding:5%;
  border-bottom:1px solid $bluish-gray;

  .title{
    h3{
      font-family:$font_style;
      margin-bottom:5%;
    }
  }

  .title p{
    font-family:$font_style;
    font-size:1em;
    margin-top:4%;
  }

  .description p{
    font-family:$font_style;
     font-size:0.833em;
    }
}

//sector_three
.sector_three{
  padding:5%;

  .title{
    h2{
      font-family:$font_style;
      margin-bottom:1;
    }
  }

  .sub-title{
    h4{
      font-family:$font_style;
      color:$black;
    }

    h5{
      font-family:$font_style;
      color:$black;
    }
  }

  .buttons{
    margin-top:5%;

    .explore-btn{
      margin-right:4%;
      font-weight:bold;
      background-color:$white;
      border:2px solid $grayish-black;
      color:$grayish-black;

      &:hover{
        background-color:$grayish-black;
        border:2px solid $grayish-black;
        color:$white;
        font-weight:bold;
      }
    }

    .sign-up-btn{
      margin-right:4%;
      font-weight:bold;
      background-color:$white;
      border:2px solid $grayish-black;
      color:$grayish-black;

      &:hover{
        background-color:$grayish-black;
        border:2px solid $grayish-black;
        color:$white;
        font-weight:bold;
      }
    }
  }


}

//sector_four{
.sector_four{
  background-image:url('event-bg.png');
  padding:4% 0 4% 0;

  .title{
    p{
      font-family:$font_style;
      text-transform:uppercase;
      font-size:1em;
      font-weight:bold;
      color:$white;
    }

    p.right{
      color:$pink;

      &:hover{
        color:$grayish-black;
      }
    }
  }

  .event_content{
    background-color:$white;

    .event_date{
      position: absolute;
      top: 46px;
      height: 54.5%;
      width: 10%;
      z-index: 10;
      background-color: rgba(205, 38, 106, 0.6);

      p{
        margin-top:50%;
        color:$white;
        font-family:$font_style;
        font-size:1.125em;
        font-weight:bold;
      }
    }

    .details_content{
      padding:8%;

      .event_title p{
        font-family:$font_style;
        margin-bottom:0;
        font-weight:bold;
      }

      .event_address p{
        font-family:$font_style;
        line-height:1;
        margin-bottom:0;
      }

      .event_time p{
        font-family:$font_style;
      }
    }
  }

  img{
    width:400px;
    height:200px;
  }

  .ticket_availability{
    background-color:$pink;
    padding:10% 0 2% 0;

    .ticket{
      margin:0 30% 0 30%;
      width:50px;
      height:40px;
    }

    p{
      color:$white;
      font-family:$font_style;
    }
  }
}


//sector_five
.sector_five{
  background-color:$bluish-gray;

  .title{
    p{
      font-family:$font_style;
      font-weight:bold;
    }

    p.right{
      color:$blue;
      font-weight:bold;
    }
  }

  .recent_event{
    padding-top:10%;
    padding-bottom:5%;

    .event_content{
      margin-bottom:10%;
    }

    img{
      height:200px;
      width:300px;
    }

    .event_details{
      padding:3%;
      background-color:$white;

      .event_title p{
        font-family:$font_style;
        margin-bottom:0;
      }

      .event_date p{
        font-family:$font_style;
        font-size:0.500em;
        margin-bottom:5%;
      }
      .event_description p{
        font-family:$font_style;
        font-size:0.833em;
      }
    }
  }

  .event_subscribe{
    margin-top:1.2%;
    background-color:$white;
    padding:2%;


    h5{
      font-weight:bold;
      font-family:$font_style;
      margin-bottom:0;
    }

    h6{
      font-family:$font_style;
    }

    .send-btn{
      font-size:0.625em;
      width:100px;
      background-color:transparent;
      color:$black;
      font-weight:bold;
      border-bottom:1px solid $grayish-black;
      height:37px;
    }

   input[type=text]{
      border:none;
      box-shadow:none;
      border-bottom:1px solid $grayish-black;
    }

    input[type=text]:focus{
      border:none;
      box-shadow:none;
      background-color:transparent;
      border-bottom:1px solid $grayish-black;
    }

    input::-webkit-input-placeholder {
      color: $black;
      font-family: $font_style;
    }

    input::-moz-placeholder{
      color: $black;
      font-family: $font_style;
      font-size:0.625em;
    }

  }

  .featured_event{

    .title{
      padding-top:5%;
      padding-left:3%;
      color:$white;
      padding-bottom:0.50%;
      background-color:$blue;
    }

    .event_content{
      background-color:$white;
      padding:5% 3% 3% 3%;

      .event_title h5{
        font-family:$font_style;
        margin-top:5%;
        margin-bottom:10%;
      }

      .event_date{
        font-weight:bold;
        font-family:$font_style;
      }

      .event_description p{
        font-family:$font_style;
        margin-top:10%;
      }

      .reserve-btn{
        background-color:transparent;
        color:$black;
        border:2px solid $grayish-black;
        font-size:0.750em;
        font-weight:bold;

        &:hover{
          background-color:$grayish-black;
          color:$white;
          font-size:0.750em;
        }
      }

      .view-btn{
        margin-top:20%;
        background-color:transparent;
        color:$black;
        border:2px solid $grayish-black;
        font-size:0.750em;
        font-weight:bold;

        &:hover{
          background-color:$grayish-black;
          color:$white;
          font-size:0.750em;
        }
      }

      dl{
        margin-top:4%;
        font-size:0.750em;
        dd{
          border-bottom:1px solid $bluish-gray;
        }
      }

    }
  }

}

//sector_six
.sector_six{
  padding:5%;

  h2{
    font-family:$font_style;
  }

  h4{
    font-family:$font_style;
    color:$black;
  }

  .register-btn{
      margin-top:8%;
      border:3px solid $light_green;
      background-color:transparent;
      color:$light_green;
      font-weight:bold;
      display:block;
      margin-right:auto;
      margin-left:auto;
      width:10em;



      &:hover{
        font-weight:bold;
        background-color:$light_green;
        color:$white;
      }
  }
}

//footer
.footer{
  background-color:$grayish-black;
  padding:2.5% 8% 1% 8%;

  p{
    color:$white;
    font-family:$font_style;
    font-weight:bold;
    font-size:0.833em;
  }

  .right{
    ul{
      li a{
        font-family:$font_style;
        color:$white;
        font-weight:bold;
        font-size:0.833em;

        &:hover{
          color:$blue;
          border-bottom:1px solid $blue;
        }
      }

      li{
        a:last-child{
          &:hover{
            border-bottom:none;
          }
        }
      }
    }
  }

  .arrow-up{
    width:30px;
    height:30px;
  }
}